<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul>
        <li>
          <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
        </li>
        <li><a href="{{ url_for('analytics') }}">Analytics</a></li>
        <li><a href="{{ url_for('assistant') }}">AI Assistant</a></li>
        <li><a href="{{ url_for('settings') }}">Settings</a></li>
        <li><a href="{{ url_for('admin_user') }}">user management</a></li>
        <li><a href="{{ url_for('settings') }}">Settings</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Resources</h4>
      <ul>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="#">Learn More</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Contact</h4>
      <p>Email: support@pneumoscan.com</p>
      <p>Phone: +91-00000 00000</p>
      <p>Address: Sharadchandra Pawar Institute of Technology</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2026 PneumoScan. All rights reserved.</p>
  </div>
</footer>
